.custom-header {
  font-size: 16px;
  font-weight: 500;
  color: #475466;
  background-color: white;
}

.ag-header-viewport {
  background-color: #F4F5F9;
}

.ag-theme-alpine {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1);
}

/* Custom background color for selected row */
.ag-row-selected {
  background-color: #F4F5F9 !important;
}

.custom-header {
  background-color: #F4F5F9 !important;
}
